
.h_top{
    background-color: #0f0f10; 
}
.wrap1200_htop a{
    color: #eeeeee;
}
.full_header{
    overflow: hidden;
    width: 100%;
    position: relative;
}
.full_header>.full_header_logo{
    display: block;
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 998;
    background: url(../img/seomoon/main/full_cover_logo_1.png);
    text-indent: -9999px;
    background-size: 100%;
    opacity: 0.7;
}
.full_header_img{    
    height: 100vh;
    width: 100%;
    margin: auto;
    position: relative;
}
.full_header>.full_header_img>video{
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.full_header_cover{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background: url(../img/seomoon/main/cover.png);
    z-index: 997;
    text-indent: -9999px;
}







/*main start----------------------------------------*/
.bmain{
    width: 100%;
    background-color: #0f0f10;
}
.msec1{
    max-width: 1600px;
    width:100%;
    height: 100hv;
    background: url(../img/seomoon/main/full_cover_sec1.jpg) no-repeat;
    margin: auto;
    background-position: center center;
    background-size: cover ;
    padding: 0px;
    box-sizing: border-box;
}
.box{
    padding: 20px;
    box-sizing: border-box;
    height: 300px;
}
.box h4{
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.box h2{
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.box h6{
    font-size: 20px;
    margin: 5px;
    color: white;
    font-weight: 300;
}
.box span{
    background-color: rgba(100,100,100,0.2);
    border: 1px solid white;
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: 16px;
    color: white;
}
.box .longspan{
    width: 120px;
    background-color: rgba(100,100,100,0.2);
    border: 1px solid white;
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: 16px;
    color: white;
    display: block;
    width: 120px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
.box .span:hover{
    background-color: rgba(100,100,100,0.8);
}
.box .longspan:hover{
    background-color: rgba(100,100,100,0.8);
}

.slogun{
    background: url(../img/seomoon/main/sec_1_slogun_copy.png) no-repeat;
    width: 100%;
    background-size: auto auto;
    background-position: left center;
    box-sizing: border-box;    
}
.search{
    padding: 50px 30px;
    box-sizing: border-box;
    width: 50%;
    background-color: rgba(242, 255, 0, 0.3);
}
.search_input{
    width: 100%;
    height: 34px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.search input{
    width: calc(100% - 60px);
    background-color: #c4c4c470;
    outline: none;
    border: none;    
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 16px;
    height: 100%;
}

.search span{
    width: 60px;
    text-align: center;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box;
}

.search h4{
    display: inline-block;    
}
.search h6{
    display: inline-block;    
}
.search h6:hover{
    text-decoration: underline;
    color: #c4c4c4;
}
.search>div>div{
    margin-top: 20px;
}
.buynoti{
    display: flex;
}
.buy{
    width: 25%;
    background:url(../img/seomoon/main/buy_img.jpg) no-repeat;
    background-position: center center;    
}
.buy>div{
    margin: auto;
    text-align: center;
    padding: 50px 0;
    box-sizing: border-box;    
}
.buy h2{
    margin-bottom: 80px;
}
.noti{
    width: 50%;
    background-color: rgba(75, 23, 122);
}
.noti>div{
    padding: 10px 20px;
    box-sizing: border-box;
}
.noti>.t_noti{
    border-bottom: 2px solid white;   
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.noti h2{
    margin-top: 10px;
}
.noti>.m_noti>a>h2{
    font-weight: 400px;
}
.noti>.m_noti>a>h2:hover{
    text-decoration: underline;
    color: darkgray;
}
.msec2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px 0;
    box-sizing: border-box;
}
.left_sec2{
    width: 50%; 
    background: url(../img/seomoon/main/sec2_left_img.png) no-repeat;
    background-position: left center;
    background-color: rgba(75, 23, 122,1);
    display: flex;
    justify-content: right;    
}
.msec2 h1{
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 5px; 
    display: block;    
}
.sec2_linfo{
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;  
    align-items: center;    
}

.blackh{
    color: black;
}
.whiteh{
    color: white;
}
.right_sec2{
    width: 50%;
    background: url(../img/seomoon/main/sec2_right_img.png) no-repeat;
    background-color: rgba(242, 255, 0, 0.5);
    background-position: right center;
    background-size: auto 100%;
    display: flex;
    justify-content: left;   
}
.sec2_rinfo{
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;  
    align-items: center;    
}
.sec3_back{
    background-color: #0f0f10;
    background-image: url(../img/seomoon/main/sec3_backimg_copy.png);
    background-position: 90% 5%;
    background-size: auto 60%;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1600px;
    height: 600px;    
    margin: auto;
}
.sec3_mobile{
    display: none;
}
.seespot{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;  
    padding-top: 400px;
    box-sizing: border-box;
}
.seespot::before{
    width: 600px;
    height: 400px;
    content: "";
    background-image: url(../img/seomoon/main/sec3_backimg_copy.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    top: 50px;
    right: 50px;
}
.seespot_img{
    width: 50%;
    position: relative;
}
.seespot_img>div{
    position: absolute;
    top: -100px;
    right: 0;
    background-image: url(../img/seomoon/main/seespot_img1.png);
    background-repeat: no-repeat;
    background-size:  auto;
    height: 400px;
    width: 700px;
    z-index: 30;
}
.seespot_img>div>em{
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    left: 100%;   
    top: 50%;
    transform: translate(-100%,50%);
    font-size: 16px;
    font-weight: 900;
    color: #525252;
    background-color: #eeeeee;
}
.seespot_img>div>.down{
    top:calc(50% + 25px);
}
.seespot_img>div>.up{
    top:calc(50% - 25px);
}
.seespot_text{
    width: 25%;
    background-color: rgba(75, 23, 122,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.seespot h2{
    text-align: center;
}
.seespot h4{    
    text-align: center;
}
.msec4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;
    box-sizing: border-box;
}
.msec4>div{
    background-size: 100% auto;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-repeat: no-repeat;
}

.smartsurv{
    display: block;
    width: 50%;
    background-image: url(../img/seomoon/main/smartsurv.png);
    background-color: rgba(242, 255, 0, 0.9);
    background-position: center center;
    background-size:contain;
    background-repeat: no-repeat;
}
.tele{
    display: block;
    width: 25%;
    height: 300px;
    background-image: url(../img/seomoon/main/tele.png);
    background-color: rgba(242, 255, 0, 0.4);
    background-position: center center;
    background-size:contain;
    background-repeat: no-repeat;
}
.map{
    display: block;
    width: 25%;
    height: 300px;
    background-image: url(../img/seomoon/main/map.png);
    background-color: green;
    background-position: center bottom;
    background-size: auto;
    background-repeat: no-repeat;
}
.msec4 h2{
    margin-top: 40px;
    text-align: center;
}


    


/*footer start------------------------------*/


@media only screen and (max-width: 1440px) {
    .full_header>.full_header_img>video{
        width: auto;
        height: 100%;
    }
}

@media only screen and (max-width: 1240px) {
    .wrap1200_htop{
        width: 100%
    }
    .wrap1200{
        width: 100%;
    }
    .top{
        width: 100%;
    }
    .wrap1200_top{
        width: 100%;
    }    
    .sec3_back{
        width : 100%
    }
    .box{
        height: 240px;
    }  
    .box h4{
        font-size: 16px;
    }
    .box h2{
        font-size: 16px;
        font-weight: 700;
    }
    .noti h2{
        margin: 0px;
        line-height: 28px;
    }
    .box h6{
        font-size: 16px;
        margin: 5px;
        color: white;
        font-weight: 300;
    }
    .box span{
        font-size: 14px;
    }
    .msec2 h1{
        font-size: 22px;
        font-weight: 900;
        margin-bottom: 5px; 
        display: block;    
    }
    .seespot_img>div{
        top: -100px;
        height: 340px;
        width: 600px;
    }
    
}
@media only screen and (max-width: 900px){
    .h_top{
        display: none;
    }
    .top{
        top: 0px;
    }
    .navi{
        display: none;
    }
    .mobilenav{
        display: block;
    }
    .mobileser{
        display: block;
    }
    .wrap1200_top{
        padding: 0px;
    }
    .box{
        padding: 40px 20px;
        box-sizing: border-box;
        height: 300px;
    }
    .full_header>.full_header_logo{
        width: 300px;
        height: 300px;
    }
    .slogun{
        background: url(../img/seomoon/main/sec_1_slogun_copy.png) no-repeat;
        width: 100%;
        background-size: auto 50%;
        background-position: 90% center;
        box-sizing: border-box;    
    }
    .search{
        width: 100%;
    }
    .buynoti{
        display: block;
    }
    .buy{
        width: 100%;
        background:url(../img/seomoon/main/buy_img.jpg) no-repeat;
        background-position: center center;
        background-size: 100% auto;    
    }
    .noti{
        width: 100%;
        background-color: rgba(75, 23, 122);
    }
    .left_sec2{
        width: 100%;
        order: 2;
    }
    .right_sec2{
        order: 1;
        width: 100%;
    }
    .smartsurv{
        width: 100%;
    }
    .tele{
        width: 50%;
        background-image: url(../img/seomoon/main/tele.png);
        background-color: rgba(242, 255, 0, 0.4);
    }
    .map{
        width: 50%;
    }
    .box h4{
        font-size: 20px;
    }
    .box h2{
        font-size: 25px;
        font-weight: 700;
    }
    .noti>.m_noti>a>h2{
        font-size: 16px;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .noti h2{
        margin: 0px;
        line-height: 28px;
    }
    .box h6{
        font-size: 16px;
        margin: 5px;
        color: white;
        font-weight: 300;
    } 
    .msec2 h1{
        font-size: 22px;
        font-weight: 900;
        margin-bottom: 5px; 
        display: block;    
    }
    .msec2{
        padding: 0px;
    }

    .sec3_back{
        background: none;
    }
    .sec3_mobile{
        display: block;
        background-image: url(../img/seomoon/main/sec3_backimg_copy.png);
        width: 100%;
        height: 400px;
        background-color: #0f0f10;
        background-repeat: no-repeat;
        background-size: auto 60%;
        background-position: 90% center;
    }
    .seespot::before{
        display: none;
    }
    .seespot{
        padding-top: 0px;
    }
    .seespot_img>div{
        top: -100px;
        height: 400px;
        width: 100%;
        background-position: center center;
    }
    .seespot_img>div>em{
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .seespot_img>div>.down{
        top:calc(50% + 15px);
    }
    .seespot_img>div>.up{
        top:calc(50% - 15px);
    }
    .seespot_text{
        width: 50%;
        background-color: rgba(75, 23, 122,0.3);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .buy h2{
        margin-bottom: 20px;
    }
    .msec4{
        padding: 0px;
    }
    .msec4 h6{
        font-size: 24px;
    }
}