.wrap1200_htop a{
    color: #333;
    margin-right: 10px;
    line-height: 30px;
    font-size: 12px;
}
.seespotheadban{
    background-position: center center;
    background-color: white;
    background-image: url(../img/seomoon/seespot/seespotban.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
}
main{
    width: 100%;    
}
.asec1{
    width: 100%;
    height: 100vh;
}
.asec1>iframe{
    width: 100%;
    height: 100%;
}
.sec2{
    padding: 50px 0;
}
.sec_wrap{
    margin-left: -10px;
    display: flex;
}
figure {
    width: 33.333%;
    padding: 30px 10px;
    box-sizing: border-box;
}
figure div{
    width: 100%;
    height: 300px;
    position: relative;
}
figure a{
    display: block;
    width: 100%;
    height: 100%;
}
figure img{
    width: 100%;
    height: 100%;
}
figure>div::before{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.778);
}
figure:hover div::before{
    display: block;
}
figure:hover div>.fig_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
figcaption>strong{
    font-size: 16px;
    color: black;
    font-weight: bold;
}
figcaption>p{
    font-size: 14px;
    color: #333;
    padding-left: 5px;
    box-sizing: border-box;
}
.fig_text{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.fig_text>h2{
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}
.fig_text>h4{
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.sec3 .fig_text>h4{
    font-size: 16px;
}
.sec3{
    padding: 50px 0;
    box-sizing: border-box;
}
