
.h_topb{
    width: 100%;   
    height: 30px;
    position: relative;
    background-color: #0f0f10; 
} 
.wrap1200_htop a{
    color: #eeeeee;
    line-height: 30px;
    font-size: 12px;
    padding: 0 10px;
    box-sizing: border-box;
}
.introheadban{
    background-position: center center;
    background-color: #0f0f10;
    background-image: url(../img/seomoon/soge_ban_img.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.imain{
    background-color: #0f0f10;
}
.imain>section{
    padding: 20px 0;
    box-sizing: border-box;
}
iframe{
    width: 100%;
    height: 900px;
    display: block;
    margin: auto;
}
.intro_head{
    width: 100%;
    height: 500px;
    background-image: url(../img/seomoon/introyashijang.png);
    background-position: top;
    background-repeat: no-repeat;
}
.textbox p{
    color: white;
    font-size: 16px;
    line-height: 30px;
}
.textbox{
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}
.introtext1{
    width: 80%;
    text-align: left;
}
.introtext2{
    width: 80%;
    text-align: right;
    padding-left: 20%;
    padding-top: 50px;    
}
.introicon{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 80px;
    margin: auto;
    box-sizing: border-box;
}
.introiconn{
    width: 50%;
    height: 180px;
    display: flex;
    margin: auto;
    padding: 0px 20px;
    box-sizing: border-box;
}
.photop{
    width: 90px;
    height: 90px;
    background-image: url(../img/seomoon/intro/photo.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.foodp{
    width: 90px;
    height: 90px;
    background-image: url(../img/seomoon/intro/food.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.playp{
    width: 90px;
    height: 90px;
    background-image: url(../img/seomoon/intro/culture.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.restp{
    width: 90px;
    height: 90px;
    background-image: url(../img/seomoon/intro/play.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.textbox1{
    width: 60%;
    padding-left: 20px;
    box-sizing: border-box;
}
.textbox1>h2{
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.textbox1>p{
    font-size: 14px;
    color: white;
    padding: 15px 0;
    box-sizing: border-box;
}
.spotlogo{
    padding: 50px 0;
    text-align: center;
}
.spotlogo>h2{
    font-size: 24px;
    color: white;
}
.spotlogo>h1{
    font-size: 32px;
    color: white;
    font-weight: bold;
}
.spotlogo>h4{
    display: inline-block;
    font-size: 18px;
    color: yellow;
    font-weight: bold;
    margin-top: 10px;
}
.spotlogo>span{
    font-size: 18px;
    color: yellow;
    font-weight: bold;
    margin-top: 10px;
}
.spotlist{
    padding-right: 10px;
}
.spotlist>p{
    text-align:right;
    padding: 20px;
    box-sizing: border-box;
    font-size: 16px;
}
.spotlistt{
    display: flex;
    justify-content: right;
    align-items: center;
}
.spotlistt h6{
    color: white;
    font-weight: bold;
    padding: 0 10px;
    font-size: 18px;
    box-sizing: border-box;
}
.zido{
    width: 80%;
    padding: 30px 30px 27% 30px;
    background-image: url(../img/seomoon/intro/spot_copy.png);
    background-size: auto 100% ;
    background-repeat: no-repeat;
    margin: auto;
    display: flex;
    justify-content: right;
    box-sizing: border-box;
}
.zidotext{
    padding: 80px 0;
    box-sizing: border-box;

}
.zidotextbox{
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}
.bbox{
    width: 20px;
    height: 20px;
    background-color: blue;
}
.pbox{
    width: 20px;
    height: 20px;
    background-color: rgb(153,45,250);
}
.ybox{
    width: 20px;
    height: 20px;
    background-color: yellow;
}


.zidotextbox>a:hover{
    color: black;
    text-decoration: underline;
}
.zidotextbox>a>h6{
    font-size: 18px;
    color: white;
    padding: 0 10px;
    box-sizing: border-box;
}
.zidotextbox>a>h6:hover{
    font-size: 18px;
    color: gray;
    text-decoration: underline;
    padding: 0 10px;
    box-sizing: border-box;
}
.isec4{
    background-color: white;
}
.title_wrap{
    border-bottom: 2px solid black;
    padding: 20px;
}
.sec_title{
    font-size: 32px;
    font-weight: 900;
}
.isec4 p{
    color: black;
    font-size: 16px;
    line-height: 36px;
    padding: 20px;
}
.isec4 .sec4_pic{
    width: 100%;
    height: 600px;
    background-image: url(../img/seomoon/intro/history.png);
    background-position: center;
    background-repeat: no-repeat;
}
.sec5{
    background-color: white;
    margin: auto;
}
.followzido{
    width: 75%;
    padding-top: 75%;
    background-image: url(../img/seomoon/sub_01_06_copy.png);
    background-position: center;
    background-size: auto 100%; 
    background-repeat: no-repeat;
    margin: auto;
}
.lasttime{
    width: 70%;
    border: 3px solid black;
    border-right: none;
    border-left: none;
    padding: 40px 10px;
    margin: 100px auto;    
}
.lasttime>h1{
    text-align: center;
    font-weight: 900;
    font-size: 30px;
}
.lasttime>h4{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.imain .sec6{
    background-color: white;
}
.sec6>.wrap1200{
    padding: 100px 0;
    box-sizing: border-box;
}
.tourmission{
    width: 100%;
    padding-top:75%;
    background-image: url(../img/seomoon/travel_mission1.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto;
}
.sec7{
    background-color: #0f0f10;
    padding: 80px 0;
}
.covid{
    width: 100%;
}
.covid_img{
    width: 120px;
    height: 120px;
    background-image: url(../img/seomoon/footer/covid.png);
    background-size: 100%;
    margin: 50px auto;
}
.covid>h1{
    font-size: 26px;
    color: white;
    font-weight: 900;
    text-align: center;
}
.covid>h2{
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 30px auto;
}

@media only screen and (max-width: 1200px) {
        iframe{
        width: 100%;
    }   
    
}
@media only screen and (max-width: 900px){
    iframe{
        width: 100%;
        height: 600px;
    }
    
    .introiconn{
        width: 100%;        
        justify-content: center;
    }
    .introicon{
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        padding: 50px 20px 0 20px;
        margin: auto;
        box-sizing: border-box;
    }
    
    .sec3{
        position: relative;
    }
    
    
    .intro_head{
        width: 100%;
        height:500px;
        background-image: url(../img/seomoon/introyashijangmbilecopy.png);
        background-repeat: no-repeat;
    }
    .textbox1{
        width: 70%;
        padding-left: 20px;
        box-sizing: border-box;}
    .zido{
        width: 100%;
    }
    
    .bbox{
        width: 16px;
        height: 20px;
        background-color: blue;
    }
    .pbox{
        width: 16px;
        height: 20px;
        background-color: rgb(153,45,250);
    }
    .ybox{
        width: 16px;
        height: 20px;
        background-color: yellow;
    }
        
    .covid>h1{
        font-size: 16px;
    }
    .covid>h2{
        font-size: 12px;
        color: white;
        font-weight: bold;
        text-align: center;
        margin: 30px auto;
    }
    .f_left>ul>li>a{
        display: block;
        width: 30px;
        height: 30px;
    }
    .introtext1{
        width: 100%;
        text-align:justify;
    }
    .introtext2{
        width: 100%;
        text-align: justify;
        padding: 50px 0 0 0;   
    }
    .lasttime>h1{
        text-align: center;
        font-weight: 900;
        font-size: 18px;
    }
    .lasttime>h4{
        text-align: center;
        font-weight: bold;
        font-size: 14px;
    }
    .spotlogo{
        padding: 50px 0 20px 0;
        text-align: center;
    }
    .spotlogo>h2{
        font-size: 18px;
        color: white;
    }
    .spotlogo>h1{
        font-size: 24px;
        color: white;
        font-weight: bold;
    }
    .spotlogo>h4{
        width: 100%;
        font-size: 12px;   
    }
    .spotlogo>span{
        font-size: 12px;
    }
    .spotlistt h6{
        color: white;
        font-weight: bold;
        padding: 0 10px;
        font-size: 12px;
        box-sizing: border-box;
    }
    .spotlist>p{
        text-align:right;
        padding: 20px;
        box-sizing: border-box;
        font-size: 12px;
    }
}
@media only screen and (max-width: 635px){
    iframe{
        width: 100%;
        height: 400px;
    }
    
    .zido{
        width: 95%;
        background-image: none;
        justify-content: center;
    }
}