header{
    width: 100%;
    position: relative;
}
.wrap100{
    width: 100%;
}
.wrap1200{
    width: 1200px;
    margin: auto;
} 
.h_top{
    background-color: white;
    width: 100%;   
    height: 30px;
    position: relative;
} 
.wrap1200_htop{    
    padding: 0 10px;
    width: 1200px;
    display: flex;
    justify-content: right;
    margin: auto;
    box-sizing: border-box;
}
.wrap1200_htop a{
    display: block;
    line-height: 30px;
    font-size: 12px;
    box-sizing: border-box;
    padding: 0 10px;
}
.wrap1200_htop a:hover{
    text-decoration: underline;
}
.top{
    background-color: rgba(75, 23, 122);
    width: 100%;
    position:sticky;
    top: 0px; 
    z-index: 999;
}
.wrap1200_top{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box;
    margin: auto;        
}
.mobilenav{
    display: none;
    width: 80px;
    height: 80px;
    background-image: url(../img/seomoon/top/m_menu.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.mobileser{
    display: none;
    width: 80px;
    height: 80px;
    background-image: url(../img/seomoon/top/m_search.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.logo{
    z-index: 999;
    width: 120px;
    height: 80px;
    background-image: url(../img/seomoon/logo.png);
}
.navi{
    width: calc(100% - 300px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}
.navi>li{
    position: relative;
}
.navi_sub{
    display: none;
    position: absolute;
    left: 50%;
    min-width: 170px;
    padding: 30px 10px 10px 10px;
    transform: translateX(-50%);
    width: 100%;
    background-color: rgba(75, 23, 122, 0.5);
}
.navi_sub>li>a{
    display: block;
    padding: 10px;
    margin: auto;
    color: white;
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
}
.navi>li:hover>a{
    color: yellow;
}
.navi>li:hover .navi_sub{
    display: block;
}
.navi_sub>li:hover>a{
    color: yellow;
}
.navi>li>a{
    padding: 0 10px;
    margin: auto;
    color: white;
    font-weight: bold;
    font-size: 18px;
    box-sizing: border-box;
}
.h_search_wrap{
    display: flex;
}
.language{
    width: 100px;
    height: 80px;
    background-color: #f2f2f2;
    position: relative;
}
.language>a{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 14px;
}
.language_sub{
    display: none;
    position: absolute;
    top: 50px;
    left: 50%;
    min-width: 100px;
    padding: 30px 10px 10px 10px;
    transform: translateX(-50%);
    width: 100%;
}
.language_sub>li{
    background-color: #f2f2f2;
}
.language_sub>li>a{
    display: block;
    padding: 10px;
    margin: auto;
    color: black;
    font-weight: bold;
    font-size: 14px;
    box-sizing: border-box;
    text-align: center;
}
.language:hover .language_sub{
    display: block;
}
.h_btn_search{
    width: 80px;
    height: 80px;
    background-color: yellow;
    background-image: url(../img/seomoon/top/m_search_black.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.headban{
    width: 100%;
    height: 300px;
    position: relative;
}
.headban>img{
    position: absolute;
    z-index: -1;
}
.middle_wrap{
    width: 1000px;
    height: 300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:flex-end;
    padding-top: 100px;
    box-sizing: border-box;
}
.middle_wrap>h1{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    font-size: 38px;
    color: white;
    font-weight: 900;
    text-align: center;
    -webkit-text-stroke: 1px black;
}
.mnavi{
    width: 100%;
    height: 50px;
    display: flex;    
    justify-content: center;
    align-items: flex-end;
}
.mnavi>li{
    width: calc(25% - 10px);
    margin-right: 4px;
    background-color: rgba(75, 23, 122,0.5);
    box-sizing: border-box;
    text-align: center;
}
.mnavi>li>a:hover{
    color: yellow;
    font-weight: bold;
}
.mnavi>li>a{
    display: inline-block;
    padding: 10px;    
    color: white;
    font-weight: bold;
    font-size: 20px;
    box-sizing: border-box;
    white-space: nowrap;
}
main{
    width: 100%;    
}
.hash{
    background-color: rgba(153,45,250, 0.7);
    width: 100%;
    height: 80px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
}
.table_search_wrap{    
    padding: 10px 0;
    margin: auto;
    box-sizing: border-box;
}
.search_wrap{
    width: 95%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;    
    background-color: rgba(160, 151, 151, 0.3);   
    box-sizing: border-box;
}
.search_wrap>h4{
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}
.search_scroll_box{
    position: relative;
    width: 180px;
    height: 50px;
    background: url(../img/seomoon/button/select.png) right center no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #e7e7e7;
    vertical-align: middle;
    font-weight: 300;
    color: #525252;
    letter-spacing: -0.5px;
    font-size: 14px;
    line-height: 18px;
}
.search_scroll{
    width: 100%;
    height: 50px;
    overflow: hidden;
    box-sizing: border-box;    
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.5);
}
.search_scroll>option{
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.search_textbox{
    display: flex;
    width: 45%;
}
.search_textbox>input{
    display: block;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    width: calc(100% - 40px);
    height: 50px;
    padding-left: 10px;
    box-sizing: border-box;
}
.search_click{
    width: 50px;
    height: 50px;
    background-color: black;
    background-image: url(../img/seomoon/button/btn_search.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/*-----

.tablelist_wrap>table{
    width: 100%;
    margin-top: 30px;
    border-top: 1px solid #030303;
    table-layout: fixed;
    font-size: 16px;
    font-weight: 300;
    color: #525252;
}
.tablelist_wrap>table{
    width: 95%;
    margin: auto;
}

.tablelist_wrap>table>thead>tr>th{
    color: #000;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 25px 0 25px 0;
    vertical-align: middle;
    line-height: 18px;
}
.tablelist_wrap>table>tbody>tr>td{
    font-size: 16px;
    font-weight: 300;
    color: black;
    font-weight: 400;
    border-bottom: 1px solid #e0e0e0;
    padding: 25px 0 25px 0;
    vertical-align: middle;
    line-height: 18px;
    text-align: center;
}

.tablelist_wrap>table>tbody>tr>td:nth-child(2){
    text-align: left;
}
-----------------------------------*/
.table_num{
    margin: auto;
    width: 95%;
    padding: 50px 0;
}
.table_num>div{
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}
.table_num a{
    display: block;
    border: 1px solid #cbcbcb;
    width: 35px;
    height: 35px;
    color: white;
    line-height: 35px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    background-color: rgba(123, 85, 153, 0.7);
    margin-right: 5px;
}
.pass{
    margin-left: 40px;
}


/*----login------------------------*/
#login_wrap{
    padding: 60px;
    max-width: 420px;
    margin: auto;
    text-align: left;
}
#login_wrap>a>div{
    width: 21px;
    height: 21px;
    margin-left: auto;
    
}
#login_wrap>h2{
    font-size: 28px;
    color:  rgba(75, 23, 122);
    font-weight: 900;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 60px;
}
.login_box_text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #c8c8c8;
    border-radius: 6px;
    padding: 12px 18px;
    font-size: 18px;
    flex-grow: 1;
    line-height: 1.5;
}
.check_wrap{
    display: flex;
    justify-content: space-between;
}
.check_wrap>a{
    background-color: #c8c8c8;
    color: white;
    display: block;
    flex: 0 1 49%;
    margin: 0;
    overflow: visible;
    font: inherit;
    text-align: center;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    font-weight: bold;
    cursor: pointer;
    padding: 12px 27px;
    font-size: 18px;
    border-radius: 6px;
    line-height: 1;
}
.check_wrap>button{
    background-color: rgba(75, 23, 122);
    margin: 0;
    overflow: visible;
    font: inherit;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    vertical-align: middle;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    flex: 0 1 49%;
}
.check_wrap>button>a{
    color: white;
    box-sizing: border-box;
    padding: 12px 27px;
    font-size: 18px;
    border-radius: 6px;
    display: block;
    line-height: 1;
}
.choise_wrap{
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.agree_title>label{
    font-size: 24px;
    color: black;
    line-height: 1.6;
    display: inline-block;
    cursor: pointer;
    padding-left: 26px;
    background: url(../img/seomoon/login/check_gray.png) left/18px no-repeat;
}
.check{
    color: black;
    line-height: 1.6;
    display: inline-block;
    cursor: pointer;
    padding-left: 26px;
    background: url(../img/seomoon/login/check_gray.png) left/18px no-repeat;
}
.empty_space{
    width: 100%;
    height: 20px;
}

.join_wrap{
    margin-bottom: 20px;
}
.join_label{
    display: block;
    color: #202020;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.point_text{
    color: #ff2e69;
}
.join_sub_text{
    color: #141e3c;
    font-size: 16px;
    font-weight: 400;
    padding-left: 9px;
}
.join_input{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#id_input{
    width: 240px;
}
.join_button{
    display: inline-block;
    width: 112px;
    height: 40px;
    line-height: 38px;
    padding: 0;
    margin-left: 12px;
    vertical-align: top;
    font-size: 17px;
    color: #141e3c;
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 0;
}
.join_sub_text1{
    display: block;
    color: #999;
    font-size: 14px;
    font-weight: 400;
}
/*footer start------------------------------*/
footer{
    background: #2a2a2c;
}
.f_top{
    padding: 32px 0;
    border-bottom: 1px solid #717171;
    box-sizing: border-box;
}
.f_top ul{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.f_top li{
    width: calc(100%)/6;
}
.f_top a{
    width: 100%;
    display: block;
    color: rgba(255,255,255,.4);
    font-size: 16px;
}
.f_top li:last-child>a{
    width: 120px;
    padding: 2px 0;
    border: 1px solid #51b5ff;
    border-radius: 20px;
    color: #51b5ff;
    text-align: center;
    box-sizing: border-box;
}
.f_main_wrap{
    position: relative;   
}
.f_main_wrap{
    box-sizing: border-box;
    padding: 36px 0 22px 200px;
    background-image: url(../img/seomoon/footer/footlogo_copy.png);
    background-repeat: no-repeat;
    background-position: 4px 31px;
    background-size: 180px auto;
}
.f_main_wrap li{
    font-size: 14px;
    line-height: 1.42857;
    color: rgba(255,255,255,0.4);
}
.f_main li:first-child{
    color: white;
    margin-bottom: 17px;
}
.f_logo_wrap{
    display: flex;
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translate(0, -50%);
}
.f_logo_wrap>li:first-child{
    margin-right: 24px;
}









@media only screen and (max-width: 1220px) {
    .wrap1200_htop{
        width: 100%
    }
    .wrap1200{
        width: 100%;
    }
    .top{
        width: 100%;
    }
    .wrap1200_top{
        width: 100%;
    }  
    .middle_wrap{
        width: 90.3333%;
    }      
    .main{
        width: 100%;
    }
    .table_search_wrap{
        width: 95%;
    }
    .search_wrap{
        width: 95%;        
    }
}



@media only screen and (max-width: 900px){
    .h_top{
        display: none;
    }
    .top{
        top: 0px;
    }
    .navi{
        display: none;
    }
    .mobilenav{
        display: block;
    }
    .mobileser{
        display: block;
    }
    .wrap1200_top{
        padding: 0px;
    }
    .box{
        padding: 40px 20px;
        box-sizing: border-box;
        height: 300px;
    }
    .h_top{
        display: none;
    }
    .top{
        top: 0px;
    }     
    .navi{
        display: none;
    }
    .mobilenav{
        display: block;
    }
    .mobileser{
        display: block;
    }
    .wrap1200_top{
        padding: 0px;
    }
    .wrap1200{
    width: 100%;
    }
    .middle_wrap>h1{
        font-size: 28px;
    }
    .middle_wrap{
        width: 100%;
    }
    .mnavi>li{
        width: calc(25% - 20px);
        margin-right: 4px;
    }
    .mnavi>li>a{
        padding: 10px 0;
        font-size: 14px;
    }
    .h_search_wrap{
        display: none;
    }
    .headban{
        width: 100%;
        height: 200px;
        position: relative;
    }
    .middle_wrap{
        height: 200px;
        padding-top: 0px;
    }
    .hash{
        height: 60px;
        font-size: 14px;
        line-height: 60px;
    }
    .search_wrap{
        flex-wrap: wrap;
        justify-content: center;
    }
    .search_wrap>h4{
        display: none;
    }
    .search_scroll{
        width: 80%;
        height: auto;
        overflow: hidden;
        margin: 0 auto 10px;
    }
    .search_textbox>input{
        width: calc(100% - 40px);
        height: 100%;
    }
    .search_textbox{        
        width: 80%;
        height: 40px;
        margin: auto;
    }
    .search_scroll_box{
        width: 80%;
        height: 40px;
        background-image: url(../img/seomoon/button/select.png);
        background-position:  right center;
        background-repeat:  no-repeat;;
        background-size: 40px 40px;
        margin-bottom: 20px;
    }
    .search_scroll{
        width: 100%;
        height: 40px;
        overflow: hidden;
        box-sizing: border-box;    
        opacity: 0;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .search_click{
        width: 40px;
        height: 40px;
    }
    .tablelist_wrap>table>thead>tr>th{
        font-size: 14px;
    }
    .tablelist_wrap>table>tbody>tr>td{
        font-size: 14px;
        
    }
    .table_num a{
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-right: 5px;
    }
    .tablelist_wrap>table>tbody>tr>td{
        border-bottom: none
    }
    .table_num a:nth-child(8){
        display: none;
    }
    .table_num a:nth-child(9){
        display: none;
    }
    .table_num a:nth-child(10){
        display: none;
    }
    .table_num a:nth-child(11){
        display: none;
    }
    .table_num a:nth-child(12){
        display: none;
    }
    .pass{
        margin-left: 10px;
    }
    .f_top{
        padding: 16px 0;
    }
    .f_top ul{
        width: 100%;
        flex-wrap: wrap;
        margin-left: 0;
        margin: auto;
    }
    .f_top li{
        width: 33%;
        margin-bottom: 20px;
    }
    .f_top li:nth-child(n+4){
        margin-bottom: 0;
    }
    .f_top a{
        width: 100%;
        display: block;
        color: rgba(255,255,255,.4);
        font-size: 14px;
        text-align: center;
        padding: 0 10px;
        box-sizing: border-box;
    }
    .f_top li:last-child>a{
        width: 100px;
        padding: 0px 10;
        border: 1px solid #51b5ff;
        border-radius: 20px;
        color: #51b5ff;
        text-align: center;
        margin: auto;
    }
    .f_logo_wrap{
        display: none;
    }


}