body{
    background: #f5f6f7;
}


.login_box_error{
    display: none;
    color: #ff0e00;
    font-size: 14px;
    margin-top: 6px;
}
.login_box{
    align-items: center;
    font-size: 18px;
    margin-bottom: 18px;
}
#login_button{
        margin: 0;
    overflow: visible;
    font: inherit;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    -webkit-appearance: none;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    font-weight: 600;
    cursor: pointer;
    padding: 12px 27px;
    font-size: 18px;
    border-radius: 6px;
    line-height: 1;
    background-color: rgba(75, 23, 122);
    color: white;
}
#pre_login_button{
    margin: 0;
    overflow: visible;
    font: inherit;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    -webkit-appearance: none;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    font-weight: 600;
    cursor: pointer;
    padding: 12px 27px;
    font-size: 16px;
    border-radius: 6px;
    line-height: 1;
    background-color: white;
    color: rgba(75, 23, 122);
}
.add_mem>a{
    display: block;
    color: #969696;
    font-size: 16px;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
}